*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Open sans, sans-serif;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  padding: clamp(20px, 5vw, 50px) 20px 10px;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f1f1f1;
  margin: 30px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.asked-question{
font-weight: 600;
padding-bottom: 20px;

}
button{background: #f1f1f1;
border: 0px;
height: 40px;
width:100px ;
}